<div class="flex flex-col gap-2">
  <h2 class="text-primary text-lg font-medium leading-tight">
    Local Configuration
  </h2>
  <form
    [formGroup]="configForm"
    (ngSubmit)="onSaveConfig($event)"
    class="flex flex-col w-full gap-2 pt-2"
  >
    <div class="flex items-center gap-2">
      <label for="isFullscreen" class="text-md">Start in Fullscreen Mode</label>
      <input
        type="checkbox"
        id="isFullscreen"
        [formControl]="isFullscreenControl"
        class="form-checkbox h-5 w-5 text-primary"
      />
    </div>
    <table class="table-auto w-full">
      <thead>
        <tr>
          <th class="min-w-100">URL</th>
          <th class="w-20 max-w-20 text-sm">Display Time (seconds)</th>
          <th class="w-20 max-w-20 text-sm">Reload After (seconds)</th>
          <th class="w-10 max-w-10 text-sm"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          [formGroup]="pageGroup"
          *ngFor="let pageGroup of pagesFormArray.controls; let i = index"
        >
          <td class="min-w-100 align-top">
            <input
              type="text"
              formControlName="url"
              required
              id="urlInput{{ i }}"
              title="URL"
              placeholder="Enter URL"
              class="w-full text-md bg-ghost block rounded-md border-transparent focus:border-secondary focus:bg-white focus:ring-0"
            />
            <div
              *ngIf="
                pageGroup.controls['url'].invalid &&
                pageGroup.controls['url'].touched
              "
              class="text-red-500 text-sm"
            >
              URL is required.
            </div>
          </td>
          <td class="w-20 max-w-20 align-top">
            <input
              type="number"
              formControlName="delaySeconds"
              required
              class="w-full text-md bg-ghost block rounded-md border-transparent focus:border-secondary focus:bg-white focus:ring-0"
            />
            <div
              *ngIf="
                pageGroup.controls['delaySeconds'].invalid &&
                pageGroup.controls['delaySeconds'].touched
              "
              class="text-red-500 text-sm"
            >
              <div
                *ngIf="pageGroup.controls['delaySeconds'].errors?.['required']"
              >
                Required.
              </div>
              <div *ngIf="pageGroup.controls['delaySeconds'].errors?.['min']">
                Must be ≥3.
              </div>
            </div>
          </td>
          <td class="w-20 max-w-20 align-top">
            <input
              type="number"
              formControlName="reloadIntervalSeconds"
              required
              class="w-full text-md bg-ghost block rounded-md border-transparent focus:border-secondary focus:bg-white focus:ring-0"
            />
            <div
              *ngIf="
                pageGroup.controls['reloadIntervalSeconds'].invalid &&
                pageGroup.controls['reloadIntervalSeconds'].touched
              "
              class="text-red-500 text-sm"
            >
              <div
                *ngIf="pageGroup.controls['reloadIntervalSeconds'].errors?.['required']"
              >
                Required.
              </div>
              <div
                *ngIf="pageGroup.controls['reloadIntervalSeconds'].errors?.['min']"
              >
                Must be ≥0.
              </div>
            </div>
          </td>
          <td class="w-10 max-w-10 flex flex-row pt-1.5 align-top">
            <button
              type="button"
              class="p-1 rounded-full bg-white text-warn hover:bg-warn-900"
              (click)="deletePage(i)"
            >
              <span class="text-lg">✖</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="flex justify-end flex-wrap gap-2">
      <button
        class="px-4 py-2 rounded-sm shadow-md transition duration-300 ease-in-out bg-secondary text-primary hover:bg-secondary-600"
        type="button"
        (click)="addPage()"
      >
        Add URL
      </button>
      <button
        *ngIf="formChanged"
        class="px-4 py-2 rounded-sm shadow-md transition duration-300 ease-in-out bg-primary text-white hover:bg-primary-600"
        type="submit"
      >
        Save Configuration
      </button>
    </div>
  </form>
</div>
