<div class="flex flex-col w-full gap-4 p-2">
  <div class="flex w-full justify-between flex-wrap gap-2">
    <h1
      class="text-primary text-xl font-bold tracking-tight leading-7 truncate"
    >
      Tabs Rotator / Slideshow
    </h1>
    <div class="flex justify-end flex-wrap gap-2">
      <button
        *ngIf="!useRemoteConfig"
        class="px-4 py-2 rounded shadow-md transition duration-300 ease-in-out bg-secondary text-primary hover:bg-secondary-600"
        (click)="onImportLocalConfig()"
      >
        Import
      </button>
      <button
        *ngIf="!useRemoteConfig && localConfig"
        class="px-4 py-2 rounded shadow-md transition duration-300 ease-in-out bg-secondary text-primary hover:bg-secondary-600"
        (click)="onExportLocalConfig()"
      >
        Export
      </button>
      <button
        *ngIf="useRemoteConfig"
        class="px-4 py-2 rounded shadow-md transition duration-300 ease-in-out bg-secondary text-primary hover:bg-secondary-600"
        (click)="onChangeUseRemoteConfig(false)"
      >
        Switch to Local Config
      </button>
      <button
        *ngIf="!useRemoteConfig"
        class="px-4 py-2 rounded shadow-md transition duration-300 ease-in-out bg-secondary text-primary hover:bg-secondary-600"
        (click)="onChangeUseRemoteConfig(true)"
      >
        Switch to Remote Config
      </button>
      <button
        *ngIf="!isRotating"
        class="px-4 py-2 rounded shadow-md transition duration-300 ease-in-out bg-primary text-white hover:bg-primary-600"
        (click)="startRotation()"
        [disabled]="isRotationDisabled"
      >
        Start
      </button>
      <button
        *ngIf="isRotating"
        class="px-4 py-2 rounded shadow-md transition duration-300 ease-in-out bg-warn text-white hover:bg-warn-600"
        (click)="stopRotation()"
        [disabled]="isRotationDisabled"
      >
        Stop
      </button>
      <button
        class="px-4 py-2 rounded shadow-md transition duration-300 ease-in-out bg-secondary text-primary hover:bg-secondary-600"
        (click)="toggleDiagnostics()"
        aria-label="Toggle Diagnostics"
      >
        <i *ngIf="showDiagnostics" class="fa fa-eye-slash"></i>
        <i *ngIf="!showDiagnostics" class="fa fa-eye"></i>
      </button>
    </div>
  </div>

  <div id="currentConfig" class="flex flex-col w-full gap-2">
    <app-config-editor
      *ngIf="!useRemoteConfig && localConfig"
      [value]="localConfig"
      (valueChanges)="onChangeLocalConfig($event)"
    ></app-config-editor>
    <app-config-loader
      *ngIf="useRemoteConfig && remoteSettings"
      [initialSettings]="remoteSettings"
      (settingsChanges)="onChangeRemoteSettings($event)"
      (valueChanges)="onChangeRemoteConfig($event)"
    ></app-config-loader>
  </div>

  <div
    id="allowFileSchemeAccess"
    class="flex text-md"
    *ngIf="allowFileSchemeAccessMessage"
  >
    If you need to run on file:// URLs, please allow this access explicitly.<br />
    Right-click the extension icon, choose Manage Extension and scroll down to
    enable access to file URLs.
  </div>

  <app-diagnostics-panel
    *ngIf="showDiagnostics"
    class="mt-2"
  ></app-diagnostics-panel>
</div>
